.location-form-wrapper {
  width: 100%;
  padding: 0.2rem 0;
  margin-top: 0.2rem;
  background-color: var(--primary-color);
  color: var(--text-white-color);
  justify-content: space-between;
}

.save-button {
  display: flex;
  justify-content: center;
  color: var(--text-white-color);
  background-color: var(--secondary-color);
}
