/* location button */
.location-buttons {
  width: 100%;
  padding: 0.5rem 0;
  margin-top: 0.2rem;
  background-color: var(--primary-color);
  color: var(--text-white-color);
  display: flex;
  justify-content: space-between;
}

.arrows-wrapper {
  display: flex;
  justify-content: center;  
}