
/* runt varje wrapper */
.all-locations-wrapper {
    display: grid;
    height: 100%;
    grid-template-areas: 
    "reputation "
    "partymembers"
    "location"
    ;
    grid-template-columns:auto ;
    grid-template-rows:60px min-content 1fr;
}

.partymembers {
  grid-area: partymembers;

}

.reputation {
  grid-area: reputation;
  background-color: blue;
}

.location {
  grid-area: location;
}


.done {
  text-decoration: line-through;
}
