/* style every location */
.location-wrapper{
  display: flex;
  flex-direction: column;
  background-color: var(--header-color);
  border:2px solid var(--primary-color);
  color: var(--primary-color);
  height: 2rem;
  justify-content: center;
  margin-top: 0.2rem;
}

.location-info-wrapper {
  display: flex;
  justify-content: space-between;
}


