
/* Form style */
.form-container{
  display: flex;
  justify-content: center;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}
.form-header {
  font-size: 1.4rem;
}
.form-wrapper p {
  font-size: 1rem;
}

/* input fields, */
  .form-input, 
  .form-button {
  width: 100%;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color:var(--text-dark-color);
}

.input {
  background-color: var(--offwhite-color);
}

.form-button {
  background-color: var(--secondary-color);
}

input:hover,
.form-button:hover {
  cursor: pointer;
}

.form-wrapper input {
  margin-top: 10px;
  color: #121212; 
}

.form-button{
  margin-top: 10px;
}

.small-form-wrapper {
  width: 100%;
  padding: 0.2rem 0;
  margin: 0.2rem 0.2rem 0 0;
  background-color: var(--primary-color);
  color: #121212;
  display: flex;
  border:2px solid var(--bgc-color);
  align-items: center;
}